<div class="d-flex gap-3">
    <MudButton Href="/">
        <MudText>Boilerplate</MudText>
    </MudButton>
    <MudButton Href="/services">
        <MudText>Szolgáltatások</MudText>
    </MudButton>
    <MudButton Href="/prices">
        <MudText>Áraink</MudText>
    </MudButton>
    <MudButton Href="/contact">
        <MudText>Kapcsolat</MudText>
    </MudButton>
</div>
